/* border-box default */
* {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  height: 100%;
  width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Temporary CSS for Positioning*/


section {
  background-color: blue;
}

aside {
  color: white;
}

 footer {
   background-color: green;
 }

 main {

 }

/* Fonts */
@font-face {
  font-family: "Mexican";
  src: url(fonts/Mexican.TTF);
}

@font-face {
  font-family: "Mayan";
  src: url(fonts/Mayan.ttf);
}

/*Background CSS*/
body {
  font-size: 16px;
  background-color: #FFB90D;
  /*
  background-image: url("http://www.3dsmodels.com/textures/Background/3079.JPG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  */
  position: relative;
  height: 100%;
  width: 100%;
}

/*Header-name CSS*/

header.top {
  position: relative;
  height: auto;
  background-color:#7AA662;
  /*
  background-image: url("https://www.wallpapersbrowse.com/images/28/287rap1.jpg");
  background-position: center;
  background-size: cover;
  */

}

header.name {
  width: auto;
  height: auto;
  border-bottom: 3px solid rgb(245, 183, 76);
  position: relative;
  text-align: center;
  font-family: "Mexican";
  font-size: 64px;
  color: white;
  padding: 15px;
}

nav {
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  text-align: center;
  padding: 15px;
  font-family: "Mexican";
  color: white;
  font-size: 20px;
  border-bottom: solid 3px #E33E3B;

}

nav ul {
  list-style-type: none;
}

li {
  display: inline;
  margin: 10px 20px;
}
/*Main CSS*/

main {
  position: relative;
}

figure {
  height: 400px;
  width: 1000px;
  margin: 20px auto;
  position: relative;
  background-color: white;
  border-radius: 45px;
}

img {
  height: 400px;
  width: 1000px;
  opacity: 0.65;
  border-radius: 45px;
}


main div {
  position: relative;
}

div p {
  position: relative;
  bottom: 400px;
  left: 800px;
  font-size: 36px;
  font-family: "Mayan";
  font-weight: bold;
  color: white;

}

}

aside {
  width: 40px;
  height: 90px;
  margin: 1px;
  background-color: black;
  border: 3px solid black;
}

.left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color:#E33E3B;
  height: 35px;
  border-top: 3px solid #7AA662;
  /*
  background-image: url("http://www.publicdomainpictures.net/pictures/160000/t2/red-speckled-background.jpg");
  background-position: center;

  background-repeat: no-repeat;
  */

}
