/* border-box default */
* {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;



}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
  background-color: hsla(35, 90%, 97%, 1);
  position: relative;
  height: 100%;
  width: 100%;


}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts-S */

@font-face {
  font-family: 'CantataOne';
  src: url(Fonts/Cantata_One/CantataOne-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(Fonts/Lato-Regular.ttf);
}

/* Fonts-E */

/* Clearfix-S */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Clearfix-E */



/* Header Styles-S */
header {

  font-size: 3.0em;
  font-family: 'CantataOne';
  border: solid 1px black;
  display: inline-block;
  width: 30%;
  height: 4em;
  margin-right: 10%;
  position: relative;
}

header h1 {
  position: absolute;
  bottom: 0em;
  margin-left: 10%;
}


/* Header Styles-E */

/* Nav Bar Styles-S */

nav {
  text-align: center;
  font-size: 2.4em;
  font-family: 'Lato';
  border: solid 1px black;
  display: inline-block;
  width: 50%;
  height: 5em;
  vertical-align: top;
  margin-right: 10%;
  text-align: left;
  position: relative;

}

nav ul {
  position: absolute;
  bottom: 0em;
}

nav li {
  display: inline;
  margin: 0em 5em 0em .25em;
}


/* Nav Bar Styles-E */

/* Overall Page Styles-S */
article {
  width: 60%;
  position: relative;
  font-size: 2.4em;
  margin: auto;
  text-align: center;
  border: solid black 1px;
  background-color:hsla(209, 11%, 51%, 1);
  margin: 1em auto;
  font-family: 'Lato';
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}
/* Overall Page Styles-E */

/* About Me Styles */

.aboutme {
  text-align: left;
}

img {
  height: 4em;
  width: 4em;
  float: left;
}
/* About Me Styles */

/* Work Experience Styles */

.workexperience h1 {
  margin-bottom: .571428571em;
}

.workexperience h2 {
  margin-bottom: .277777777777em;
}

.workexperience h3 {
  font-style: italic;
  margin-bottom: .166666666em;
}

.contentbox3rd {
  width: 30%;
  float: left;
  height: auto;
  border: solid 1px black;
  margin-left: 2.5%;
  margin-top: 2.5%;
}

.contentbox2nd {
  width: 42.5%;
  float: left;
  height: auto;
  border: solid 1px black;
  margin-left: 5%;
}

.contentbox {
  width: 100%;
  height: auto;
  border: solid 1px black;
  margin-bottom: 1em;
}


/* Work Experience Styles */
