/* border-box default */
* {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    
  

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
  background-color: hsla(35, 90%, 97%, 1);


}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts-S */

/* Fonts-E */

/* Clearfix-S */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Clearfix-E */

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Header Styles-S */
header {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  font-family: 'LeagueGothic';

}

/* Header Styles-E */

/* Nav Bar Styles-S */

nav {
  width: 100%;
  text-align: center;
  font-size: 1.6em;

}

/* Nav Bar Styles-E */

article {
  width: 80%;
  position: relative;
  font-size: 1.6em;
  margin: auto;
  text-align: center;
  border: solid black 1px;
  background-color:hsla(209, 11%, 51%, 1);
  margin: 1em auto;

}

/* About Me Styles */

.aboutme {
  text-align: left;
}

img {
  height: 4em;
  width: 4em;
  float: left;
}



/* About Me Styles */

/* Work Experience Styles */
.workexperience {
  height: auto;
}

.workexperience h3 {
  clear: both;
}

.contentbox3rd {
  width: 30%;
  float: left;
  height: auto;
  border: solid 1px black;
  margin-left: 2.5%;
}

.contentbox2nd {
  width: 42.5%;
  float: left;
  height: auto;
  border: solid 1px black;
  margin-left: 5%;
}

.contentbox {
  width: 100%;
  float: left;
  height: auto;
  border: solid 1px black;
}


/* Work Experience Styles */
